.authentication-button {
  background-color: #dbe1ff;
}
.authentication-button:hover {
  color: white;
  box-shadow: 0 0 20px rgba(100, 111, 203, 0.6);
  background-color: rgba(100, 111, 203, 1);
  width: auto;
}

.deleteButton:hover {
  color: white;
  box-shadow: 0 0 20px rgba(255, 26, 26, 0.6);
  width: auto;
}

.unblockButton:hover {
  color: white;
  box-shadow: 0 0 20px rgba(26, 255, 26, 0.8);
  width: auto;
}
